
@{
    Layout = null;
}
@using db_connectivity.Models;
@model  Roomers
<!DOCTYPE html>

<html>
<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <style>
        #Slogun {
            text-transform: uppercase;
            color: 09355c !important;
            margin: 24px;
            font-family: 'Lobster', cursive;
            text-align: center;
            font-size: 3rem;
            font-weight: 80;
            margin: 4.5rem 0 3rem 0;
            letter-spacing: 3px;
        }

        .nav-colour {
            background-color: 09355c;
            color: white;
            font-family: "BellMTStd-Regular", serif;
            font-size: 3rem;
            font-weight: 40;
        }

        .navbar-brand {
            color: white !important;
            font-family: "BellMTStd-Regular", serif;
            text-align: center;
            font-size: 2rem;
            font-weight: 50;
            letter-spacing: 1px;
        }

        .nav-link {
            color: white !important;
            font-family: "BellMTStd-Regular", serif;
            text-align: center;
            font-size: 2rem;
            font-weight: 50;
            letter-spacing: 1px;
        }
    </style>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="#">Hotel BeachWood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-3 active">
                    <a class="nav-link" href="../../Home/index">
                        Home<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="../../Home/RoomType">Rooms</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="../../Home/FoodType">Foods</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item ml-3">
                    <a class="nav-link waves-effect waves-light" href="../../Home/SignUP">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link waves-effect waves-light" href="../../Home/SignUP">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    <h3 id="Slogun">Room Availabilty Checker</h3>

    <div class="container col-lg-4" style="text-align:center">

        <h2>Available Room :: @Model.RoomId</h2>
        <br>
        <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title" style="color: black;">@Html.ActionLink("Accept", "savechoice", null, new { custid = @Model.Custid, staffid = @Model.Staffid, guests = @Model.noguests, chdate = @Model.Checkindate, choutdate = @Model.checkoutdate, status = @Model.stat, Rtype = @Model.Roomtype, id=@Model.RoomId ,choice = "A", style = "color:green" }, null)</h4>

        </div>
        <br>
        <div class="modal-header light-blue darken-3 white-text">
            <h4 class="title" style="color: black;">@Html.ActionLink("Reject", "savechoice", null, new { custid = @Model.Custid, staffid = @Model.Staffid, guests = @Model.noguests, chdate = @Model.Checkindate, choutdate = @Model.checkoutdate, status = @Model.stat, Rtype = @Model.Roomtype, id = @Model.RoomId, choice = "R", style = "color:red" }, null)</h4>
        </div>
        <br>
        <!--Body-->






    </div>
    <meta name="viewport" content="width=device-width" />
    <title>Room_Booker</title>
</head>
<body>
    <br /><br />

</body>
</html>